<%= form_for(@collection_card) do |f| %>
  <% if @collection_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_card.errors.count, "error") %> prohibited this collection_card from being saved:</h2>

      <ul>
      <% @collection_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_id %><br />
    <%= f.text_field :card_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
