<p id="notice"><%= notice %></p>

<p>
  <b>Card:</b>
  <%= @collection_card.card_id %>
</p>

<p>
  <b>User:</b>
  <%= @collection_card.user_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @collection_card.quantity %>
</p>


<%= link_to 'Edit', edit_collection_card_path(@collection_card) %> |
<%= link_to 'Back', collection_cards_path %>
