<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<p>
  <b>Image url:</b>
  <%= @user.image_url %>
</p>

<p>
  <b>Signature:</b>
  <%= @user.signature %>
</p>

<p>
  <b>Currency:</b>
  <%= @user.currency %>
</p>

<p>
  <b>Boosters:</b>
  <%= @user.boosters %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h2>Cards</h2>
<ul>
<% @user.collection_cards.each do |item| %>
<li><%= item.quantity %> &times; <%= item.card.name %></li>
<% end %>
</ul>
