<h1>Listing abilities</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Effect</th>
    <th>Codice effect</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abilities.each do |ability| %>
  <tr>
    <td><%= ability.title %></td>
    <td><%= ability.cost %></td>
    <td><%= ability.effect %></td>
    <td><%= ability.effect_code %></td>
    <td><%= link_to 'Show', ability %></td>
    <td><%= link_to 'Edit', edit_ability_path(ability) %></td>
    <td><%= link_to 'Destroy', ability, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ability', new_ability_path %>
