<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @ability.title %>
</p>

<p>
  <b>Cost:</b>
  <%= @ability.cost %>
</p>

<p>
  <b>Effect:</b>
  <%= @ability.effect %>
</p>

<p>
  <b>Effect Code:</b>
  <%= @ability.effect_code %>
</p>




<%= link_to 'Edit', edit_ability_path(@ability) %> |
<%= link_to 'Back', abilities_path %>
