<h1>Listing card_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @card_types.each do |card_type| %>
  <tr>
    <td><%= card_type.name %></td>
    <td><%= card_type.description %></td>
    <td><%= card_type.image_url %></td>
    <td><%= link_to 'Show', card_type %></td>
    <td><%= link_to 'Edit', edit_card_type_path(card_type) %></td>
    <td><%= link_to 'Destroy', card_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card type', new_card_type_path %>
