<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @card_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @card_type.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @card_type.image_url %>
</p>


<%= link_to 'Edit', edit_card_type_path(@card_type) %> |
<%= link_to 'Back', card_types_path %>
