<h1>Listing cards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Special powers</th>
    <th>Abilities</th>
    <th>Strength</th>
    <th>Resistence</th>
    <th>Cost</th>
    <th>Rarity</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.name %></td>
    <td><%= card.description %></td>
    <td><%= card.image_url %></td>
    <td><%= card.special_powers %></td>
    <td><%= card.abilities %></td>
    <td><%= card.strength %></td>
    <td><%= card.resistence %></td>
    <td><%= card.cost %></td>
    <td><%= card.rarity_id %></td>
    <td><%= card.type_id %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
